# Copier ce fichier en .env et remplir les valeurs
JENKINS_ADMIN_PASSWORD=96d75d226f0c43ee93f52a18457bbea9
NEXUS_ADMIN_PASSWORD=9157183c-b7bb-4756-ba0f-98312680759b
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-3
